#menu {
    -fx-padding: 4;
}

.menuSection {
    -fx-background-color:
            linear-gradient(#dae0e7 0%, #ced4dd 14%,
            #c8ced7 15%, #dfe5e6 100%),
            linear-gradient(#bdbfc1 0%, #9a9c9f 14%,
            #888b90 15%, #838686 100%),
            linear-gradient(#eef1f6 0%, #e1e6ee 14%,
            #d5dbe7 15%, #eef4f4 79%,
            #ced4e6 79%, #afb6c8 100%);

    -fx-background-insets: 1 0 1 1, 1, 2;
    -fx-background-radius: 5,4,3;
    -fx-padding: 4 8 0 8;
}