#scrollPane{
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.labelStyle{
    -fx-font-size: xx-large;
}

.nodeLabelStyle{
    -fx-padding: 5 0 0 0 ;
    -fx-alignment: TOP_CENTER;
}

.priorityLabelStyle{
    -fx-padding: 0 0 5 0;
    -fx-alignment: BOTTOM_CENTER;
}

.emptyLabelStyle{
    -fx-padding: 0 0 0 0;
    -fx-font-size: x-large;
    -fx-alignment: CENTER;
}
