.distanceV{
    -fx-text-fill: yellow;
    -fx-fill: yellow;
}

.distanceU{
    -fx-text-fill: orange;
    -fx-fill: orange;
}

.weight{
    -fx-text-fill: brown;
    -fx-fill: brown;
}

.default{
    -fx-text-fill: white;
}