#scrollPane{
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.labelStyle{
    -fx-font-family: "Arial Black";
    -fx-font-size: large;
    -fx-text-fill: white;
}

.nodeLabelStyle{
    -fx-padding: 20 0 0 0 ;
    -fx-alignment: TOP_CENTER;
}

.priorityLabelStyle{
    -fx-padding: 0 0 20 0;
    -fx-alignment: BOTTOM_CENTER;
}

.emptyLabelStyle{
    -fx-padding: 0 0 0 0;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    -fx-font-size: x-large;
    -fx-alignment: CENTER;
}

.rectangleStyle{
    -fx-stroke: red;
    -fx-background-color: BLACK;
}

.selectedQueueItem{
    -fx-text-fill: yellow;
}
